<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of rentalRecords;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{record.bikeRegNo}}</td>
            <td>{{record.rentalOut| date : 'MMM d, y, h:mm'}}</td>
            <td>{{record.rentalReturn | date : 'MMM d, y, h:mm'}}</td>
            <td>{{record.payment}}</td>
            <td>
                <!-- <button class="btn btn-success" (click)="acceptRequest(request.id)">Accept</button>
              <button class="btn btn-danger" (click)="declineRequest(request.id)">Decline</button> -->
            </td>
        </tr>
    </tbody>
</table>