<button class="btn btn-outline-success mt-2" (click)="getFilterRecords()">{{dateFilter? "Remove Filter" : "Filter by date"}}</button>
<div class="pr-3 pb-3 pe-3 w-auto" *ngIf="dateFilter">
    <bs-daterangepicker-inline [bsValue]="bsInlineRangeValue" (bsValueChange)="onDateRangeChange($event)"></bs-daterangepicker-inline>
  </div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bike Reg.No</th>
            <th scope="col">Rent Start</th>
            <th scope="col">Rent End</th>
            <th scope="col">Payment</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of rentalRecords;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{record.bikeRegNo}}</td>
            <td>{{record.rentalOut| date : 'MMM d, y, h:mm'}}</td>
            <td>{{record.rentalReturn | date : 'MMM d, y, h:mm'}}</td>
            <td>{{record.payment}}</td>
        </tr>
    </tbody>
</table>