<div class="container text-center text-white my-4">
    <div class="row g-4">
        <div class="col-12 col-md-3">
            <div class="shadow bg-primary text-white rounded-3 p-3 d-flex align-items-center">
                <i class="fa-solid fa-motorcycle fs-1 me-3"></i>
                <div>
                    <h5>Total Bikes</h5>
                    <p class="m-0">{{ bikeCount }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="shadow bg-primary text-white rounded-3 p-3 d-flex align-items-center">
                <i class="bi bi-envelope-arrow-down fs-1 me-3"></i>
                <div>
                    <h5>Total Rentals</h5>
                    <p class="m-0">{{ completedRentalRecordCount }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="shadow bg-primary text-white rounded-3 p-3 d-flex align-items-center">
                <i class="bi bi-cash-coin fs-1 me-3"></i>
                <div>
                    <h5>Total Revenue</h5>
                    <p class="m-0">{{ revenueAmount }}</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="shadow bg-primary text-white rounded-3 p-3 d-flex align-items-center">
                <i class="bi bi-people-fill fs-1 me-3"></i>
                <div>
                    <h5>Total Customers</h5>
                    <p class="m-0">{{ customerCount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-4">
    <canvas id="paymentsChart" width="900" height="380"></canvas>
</div>
