<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Bike Info</th>
            <th scope="col">User NIC</th>
            <th scope="col">Request Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngIf="rentalRequests">
        <tr *ngFor="let request of rentalRequests;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{request.bike?.brand?.name}} {{request.bike?.model}}</td>
            <td>{{request.userId}}</td>
            <td>{{request.requestTime | date}}</td>
            <td>
                <div>
                    <form action="" class="row" [formGroup]="rentalRecordForm">
                        <div class="col-8">
                            <select class="form-control" formControlName="bikeRegNo">
                                <option value="" disabled selected>Bike Reg.No</option>
                                <option *ngFor="let unit of currentInventoryUnits" [value]="unit.registrationNo">
                                    {{unit.registrationNo}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" type="submit" (click)="rentOut(request.id , i)">Rent</button>
                        </div>
                    </form>
                </div>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="rentalRequests?.length == 0">
        <h2 class="text text-success">You are all caught up...</h2>
    </tbody>
</table>