<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Last</th>

            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of rentalRequests">

            <th scope="row">{{request.bike?.brand}} {{request.bike?.model}}</th>
            <td>{{request.nicNumber}}</td>
            <td>{{request.requestTime | date}}</td>
            <td>{{request.bikeId}}</td>
            <td>
                <div>
                    <form action="" class="row" [formGroup]="rentalRecordForm">
                        <div class="col-8">
                            <select class="form-control" formControlName="bikeRegNo">
                                <option *ngFor="let unit of currentInventoryUnits" [value]="unit.registrationNo">
                                    {{unit.registrationNo}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-success" type="submit" (click)="rentOut(request.id)">Rent</button>
                        </div>
                    </form>
                </div>

            </td>
        </tr>
    </tbody>
</table>