<div class="row">
  <div class="col-3"><button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/add-bike']">Add
      Bike</button></div>
  <div class="col-3"><button type="button" class="btn btn-outline-primary">Primary</button></div>
  <div class="col-3"><button type="button" class="btn btn-outline-primary">Primary</button></div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bike of bikes">
      <th scope="row">{{bike.brand}}</th>
      <td>{{bike.model}}</td>
      <td>{{bike.ratePerHour}}</td>
      <td>{{bike.type}}</td>
      <td>
        <button (click)="addUnits(bike.id , template)"><i class="bi bi-three-dots"></i></button>
        <button (click)="deleteBike(bike.id)"><i class="bi bi-trash-fill"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <form [formGroup]="addUnitsForm" (ngSubmit)="onAddUnits()">
      <div class="mt-4" formArrayName="inventoryUnits">
        <h3>Add Units</h3>
        <div class="" *ngFor="let unit of inventoryUnits.controls;let i=index;">
          <div [formGroupName]="i">
            <div class="row mt-2">
              <div class="col-6">
                <input type="text" class="form-control" id="" formControlName="registrationNo ">
              </div>
              <div class="col-4">
                <input type="text" class="form-control" id="" formControlName="yearOfManufacture">
              </div>
              <div class="col-2">
                <div class="row">
                  <button class="btn btn-danger col-6" type="button" (click)="removeUnit(i)"><i
                      class="bi bi-trash-fill"></i></button>

                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row mt-2">      
          <div class="col-1"></div>
          <button class="btn btn-success btn-sm col-3" type="button" (click)="addUnit()">Add</button>     
        </div>
       <button type="submit">Submit</button>
      </div>
    </form>
    <ul>
      <li *ngFor="let unit of currentBikeUnits">{{unit.registrationNo}}</li>
    </ul>
  </div>
</ng-template>