<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Type</th>
      <th scope="col">Inventory Units</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody *ngIf="bikes && bikes.length > 0">
    <tr *ngFor="let bike of bikes">
      <th scope="row">{{bike.brand.name}}</th>
      <td>{{bike.model}}</td>
      <td>{{bike.ratePerHour}}</td>
      <td>{{bike.type}}</td>
      <td >{{bike.inventoryUnits?.length}}</td>
      <td>
        <button (click)="addUnits(bike.id , template)" class="btn btn-secondary"><i
            class="bi bi-three-dots"></i></button>
        <button class="btn btn-primary"><i class="bi bi-pencil text-white"
            [routerLink]="['/admin/bikes/edit-bike' , bike.id]"></i></button>
        <button (click)="deleteBike(bike.id)" class="btn btn-danger"><i
            class="bi bi-trash-fill text-white"></i></button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="!bikes">
    <h2 class="text text-danger">No bikes to display!!!</h2>
  </tbody>
</table>
<router-outlet></router-outlet>
<ng-template #template>
  <div class="modal-header" *ngIf="currentBike">
    <h4 class="modal-title pull-left">Inventory of {{currentBike.model}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let unit of currentBike?.inventoryUnits">{{unit.registrationNo}}</li>
    </ul>
    <form [formGroup]="addUnitsForm" (ngSubmit)="onAddUnits()">
      <div class="mt-4" formArrayName="inventoryUnits">
        <h3>Add to Inventory</h3>
        <div class="" *ngFor="let unit of inventoryUnits.controls;let i=index;">
          <div [formGroupName]="i">
            <div class="row mt-2">
              <div class="col-6">
                <input type="text" class="form-control" id="" name="registrationNo" formControlName="registrationNo"
                  placeholder="Bike Registration Number">
              </div>
              <div class="col-4">
                <input type="number" class="form-control" id="" name="yearOfManufacture"
                  formControlName="yearOfManufacture" placeholder="Manufactured year">
              </div>
              <div class="col-2">
                <div class="row">
                  <button class="btn btn-danger col-6" type="button" (click)="removeUnit(i)"><i
                      class="bi bi-trash-fill"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-row-reverse row">
        <div class="col-2 me-3 mt-2"><button (click)="addUnit()" class="btn btn-success" type="button">Add</button>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row d-flex justify-content-center mt-2">
        <button type="submit" class="col-10 btn btn-primary">Submit</button>
      </div>

    </form>

  </div>
</ng-template>