<div class="row">
    <div class="col-3"><button type="button" class="btn btn-outline-primary"
            [routerLink]="['/admin/bikes/add-bike']">Add
            Bike</button></div>
    <div class="col-3"><button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/bikes/brands']">View Brands</button></div>
    <div class="col-3"><button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/bikes/inventory']">View Inventory</button></div>
</div>

<router-outlet></router-outlet>