<div class="container border border-black">
    <div class="row" *ngIf="userData">
        <div class="col-4">
            <div class="ratio ratio-4x3 rounded-1">
                <img [src]="userData.profileImage? userData.profileImage : 'Images/profile.jpg'" class="img-fluid"
                    alt="Responsive Image">
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 p-4">
            <h6>First name : {{userData.firstName}}</h6>
            <h6>Last name : {{userData.lastName}}</h6>
            <p>Email : {{userData.email}}<br>
                Mobile : {{userData.contactNo}}</p>
        </div>
        <div class="col-2"></div>
    </div>
</div>