<div *ngIf="bikeData">
    <div class="row">
        <div class="col-6 row">
            <div class="ratio ratio-4x3">
                <img [src]="bikeData.images?.[0].imagePath" class="img-fluid" alt="Responsive Image">
            </div>
        </div>
        <div class="col-6">
            <form [formGroup]="rentalRequestForm" (ngSubmit)="onRequest()">
                <label  class="form-label">Date of rent :</label>
                <input type="string" formControlName="requestTime" class="form-control" bsDatepicker>
                <button type="submit" class="btn btn-primary mt-2">Request</button>
            </form>
        </div>
    </div>

</div>