<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Telephone</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers;let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.contactNo}}</td>
            <td>
                <button class="btn btn-primary" (click)="verifyUser(customer.nicNumber , i)" [disabled]="customer.isVerified">Verify</button> 
                <button class="btn btn-warning" (click)="blockCustomer(customer.nicNumber)">{{customer.isBlocked? "Unblock" : "Block"}}</button> 
            </td>
        </tr>
    </tbody>
</table>
