<div class="container">
    <form [formGroup]="addBikeForm" (ngSubmit)="onAddBike()">
        <div class="row">
            <div class="col-8">
                <h2 class="text-danger mt-3">{{isEdit? 'Edit Bike' : 'Add New Bike'}}</h2>
                <label for="title" class="form-label">Brand : </label>
                <select formControlName="type" class="form-control" formControlName="brandId">
                    <option value="" disabled selected>Select a Brand</option>
                    <option *ngFor="let brand of bikeBrands" [value]="brand.id">{{brand.name}}</option>
                </select> 
                <div *ngIf="addBikeForm.controls.brandId?.touched">                  
                    <small class="text-danger" *ngIf="addBikeForm.get('brandId').errors">
                        Brand is required
                    </small>
                </div>
                <label for="description" class="form-label">Model : </label>
                <input type="text" class="form-control" id="" formControlName="model">
                <div *ngIf="addBikeForm.controls.model?.touched">                  
                    <small class="text-danger" *ngIf="addBikeForm.get('model').errors">
                        Model is required
                    </small>
                </div>
                <label for="description" class="form-label">Type : </label>
                <select formControlName="type" class="form-control">
                    <option value="" disabled selected>Select a Type</option>
                    <option *ngFor="let type of bikeTypes" [value]="type">{{type}}</option>
                </select> 
                <div *ngIf="addBikeForm.controls.type?.touched">                  
                    <small class="text-danger" *ngIf="addBikeForm.get('type').errors">
                       Type is required
                    </small>
                </div>
                <label for="description" class="form-label">Rate per Hour : </label>
                <input type="number" class="form-control" id="" formControlName="ratePerHour">
                <div *ngIf="addBikeForm.controls.ratePerHour?.touched">                  
                    <small class="text-danger" *ngIf="addBikeForm.get('ratePerHour').errors?.required">
                       Rate per hour is required
                    </small>
                    <small class="text-danger" *ngIf="addBikeForm.get('ratePerHour').errors?.min">
                        Rate per hour must be positive
                     </small>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="addBikeForm.invalid">Submit</button>

            </div>

            <div class="col-4 mt-4" formArrayName="images">
                <h3>Add Images</h3>
                <div class="row" *ngFor="let img of bikeImages.controls;let i=index;">
                    <div [formGroupName]="i">
                        <div class="row mt-2">
                            <div class="col-8">
                                <input type="file" class="form-control" id="" formControlName="imagePath" (change)="loadImage($event)">
                            </div>
                            <div class="col-2">
                                <button class="btn btn-danger" type="button"
                                    (click)="removeImage(i)">Remove</button>
                            </div>
                        </div>
                    </div>

                </div>
                <button class="btn btn-success" type="button" (click)="addImage()">Add</button>
            </div>
        </div>
    </form>
    <div class="row mt-2">
        <div class="col-2 border border-black rounded-5 m-1" *ngFor="let img of images">
            <div  class="ratio ratio-4x3">
                <img [src]="img.imagePath">
            </div>
        </div>
    </div>
    
   
</div>
