<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Last</th>

            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let record of rentalRecords">

            <th scope="row">{{record.bikeRegNo}} </th>
            <td>{{record.rentalOut | date}}</td>
            <td>{{record.rentalRequestId}}</td>
            <td>{{record.id}}</td>
            <td>
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="selected=record" (click)="displayPayment(record.id)">Return</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      
      <div class="modal-content">
        <app-rental-payment [recordData]="selected" [payment]="payment" (addRecord)="receiveRecord($event)"></app-rental-payment>
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <!-- <div class="modal-body">
         
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Confirm Payment</button>
        </div> -->
      </div>
    </div>
  </div>
