    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bike Info</th>
                <th scope="col">User NIC</th>
                <th scope="col">Requested for</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody *ngIf="rentalRequests">
            <tr *ngFor="let request of rentalRequests;let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{request.bike?.brandId}} {{request.bike?.model}}</td>
                <td>{{request.userId}}</td>
                <td>{{request.requestTime | date}}</td>
                <td>
                  <button class="btn btn-success" (click)="acceptRequest(request.id,i)" >Accept</button>
                  <button class="btn btn-danger" (click)="declineRequest(request.id,i)">Decline</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="rentalRequests?.length == 0">
            <h2 class="text text-success">You are all caught up...</h2>
        </tbody>
    </table>
